
.header {
  display: flex;
  align-items: center;
  padding: 1rem 0 3rem;
}
.title {
  color: #000; 
  font-size: 3rem;
  text-decoration: none;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.link  {
  color: black;
}

.header nav {
  flex: 0.7;
}

.header h1 {
  flex: 0.3;
}
