.header {
  display: flex;
  align-items: center;
}
.header nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.header nav {
  flex: 0.7;
}

.header h1 {
  flex: 0.3;
}
